/* width */
.chat-list::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .chat-list::-webkit-scrollbar-track {
    background: #0f041d; 
  }
  
  /* Handle */
  .chat-list::-webkit-scrollbar-thumb {
    background: rgb(15, 116, 119); 
  }
  
  /* Handle on hover */
  .chat-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container {
    max-width: 500px;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -6px;
	margin-top: 3px;
}

.btn.room{
    margin-top: 6px;
    /* margin-bottom: 0.5em; */
}

.room-btn-txt {
  display: none;
}

.btn.room:focus > .room-btn-txt, .fas {
    display: inline;
}

.btn.room:active > .room-btn-txt, .fas {
    display: inline;
}

/* .btn.room:hover > .room-btn-txt {
    display: inline;
} */

.btn.room:active > .room-btn-txt {
    transition: display 2s;
    -webkit-transition: display 2s;
    display: inline;
}


.heading{
    font-family: 'Monoton', cursive;
/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Comfortaa', cursive; */
}

.chatbubble{
    border-radius: 5px;
    margin: 3px;
    background: rgb(0,0,0, .5);
    color: aliceblue;
}

.chat-list{
    max-height: 300px;
    overflow: hidden; 
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
    
}

/* .alerty{
    max-height: 20%;
    overflow: hidden scroll;

} */


.blur{
    filter:blur(3px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    -moz-filter:blur(3px);
    -webkit-filter:blur(3px);
}

.username{
    font-weight: 700;
}
.message{
    font-weight: 300;
}
.timestamp{
    font-weight: lighter;
    font-size: 0.6em;
    color: lightgray;
    font-style: italic;
    text-align: right;
    padding: 0px;
    margin: 0px;
    display: inline;
}