/* width */
.chat-list::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .chat-list::-webkit-scrollbar-track {
    background: #0f041d; 
  }
  
  /* Handle */
  .chat-list::-webkit-scrollbar-thumb {
    background: rgb(15, 116, 119); 
  }
  
  /* Handle on hover */
  .chat-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container {
    max-width: 500px;
    
}

.btn.room{
    border: 0px;
    margin-top: 6px;
    /* margin-bottom: 0.5em; */
}


.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
    border: 0px;
}
.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: 3px;
    margin-top: 3px;
    border: 0px;
}


.room-btn-txt {
  display: none;
}

.btn.room:focus > .room-btn-txt, .fas {
    display: inline;
}

.btn.room:active > .room-btn-txt, .fas {
    display: inline;
}

/* .btn.room:hover > .room-btn-txt {
    display: inline;
} */

.btn.room:active > .room-btn-txt {
    transition: display 2s;
    -webkit-transition: display 2s;
    display: inline;
}


.heading{
    font-family: 'Monoton', cursive;
    margin-bottom: 0px;
    color:#3295a8;
/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Comfortaa', cursive; */
}

.chatbubble{
    border-radius: 5px;
    margin: 3px;
    background: rgb(0,0,0, .5);
    color: aliceblue;
}

.chat-list{
    max-height: 63%;
    overflow: hidden; 
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
    
}

.alert-dark{
    background-color: rgba(39, 39, 39, 0.582);
    border: 1px solid black;
    color: white;
    
    
}
/* .alerty{
    max-height: 20%;
    overflow: hidden scroll;

} */


.blur{
    filter:blur(3px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    -moz-filter:blur(3px);
    -webkit-filter:blur(3px);
    color:#ffffff;    
}

.username{
    font-weight: 700;
}
.message{
    font-weight: 300;
}
.timestamp{
    font-weight: lighter;
    font-size: 0.6em;
    color: lightgray;
    font-style: italic;
    text-align: right;
    padding: 0px;
    margin: 0px;
    display: inline;
}

footer {
    position: relative;
    display: block;
    
	padding:0px 0px 10px 0px;
	bottom:0px;
	right:0px;}
	
	.inspiration {
		text-align:center;
		margin-bottom:2px;
		font-family:$font-stack;
		font-size:12px;
		opacity:.6;}
		.inspiration a { 
			color:#3295a8;
			text-decoration:none;
		}
		.inspiration a:hover { 
			color:#ff7d04;
			text-decoration:underline;
		}
	
	.copyright { 
		text-align:right;
		font-family:$font-stack;
		font-size:12px;
    }

    .copyright span{
        font-family: 'Monoton', cursive;
    }
		.copyright a { 
			color:#ffffff;
			text-decoration:none;
		}
		.copyright a:hover, .copyright a:focus { 
			color:#3295a8;
			text-decoration:underline;
		}