/* width */
.chat-list::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .chat-list::-webkit-scrollbar-track {
    background: #0f041d; 
  }
  
  /* Handle */
  .chat-list::-webkit-scrollbar-thumb {
    background: rgb(15, 116, 119); 
  }
  
  /* Handle on hover */
  .chat-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container {
    max-width: 500px;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -6px;
	margin-top: 3px;
}

.btn.room{
    margin-top: 6px;
    /* margin-bottom: 0.5em; */
}

.chatbubble{
    border-radius: 5px;
    margin: 3px;
    background: rgb(0,0,0, .5);
    color: aliceblue;
}

.chat-list{
    max-height: 57%;
    overflow: hidden; 
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.blur{
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}

.username{
    font-weight: bold;
}

.timestamp{
    font-weight: lighter;
    font-size: 0.6em;
    color: lightgray;
    font-style: italic;
}

.send-btns{
    margin: 
}